.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  background-color: #EAF4FB;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title{
  font-family: 'Courier New', Courier, monospace;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  margin: 0 0 1px 0;
  top: 0;
  color: #0f2257;
}

.subtitle{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 0 0 1px 0;
  color: #0f2257;
}

.rules{
  list-style: square;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 1.5rem;
}

.dividing-line{
  border-left: 5px solid #0f2257;
  height: 700px;
}

.container {
  display: flex;
  background-color: whitesmoke;
  border-radius:12px;
  width: 90%;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  box-shadow: 0 10px 30px grey;
}

.results{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left,
.right {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.transition-button{
  font-family: 'Courier New', Courier, monospace;
  margin: 1rem;
  padding: 8px 14px;       
  font-size: 1rem;
  border-radius: 6px;
  font-weight: bolder;
}

.transition-button:hover{
  opacity: .90;
  transform: scale(1.05);
}

.transition-button:active{
  transform: scale(.95) translateY(2px);
}

.transition-button:disabled{
  cursor: not-allowed;
}

.delete-all-button{
  font-family: 'Courier New', Courier, monospace;
  margin: 1rem;
  padding: 8px 14px;       
  font-size: 1rem;
  border-radius: 6px;
  font-weight: bolder;
  color: black;
  background-color: lightcoral;
  border-color: black;
}

.delete-all-button:hover{
  opacity: .90;
  transform: scale(1.05);
}

.delete-all-button:active{
  transform: scale(.95) translateY(2px);
}

.delete-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.dropzone {
  flex: 1;
  display: flex;
  min-height: 200px;
  min-width: 500px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.25rem;
  font-weight: bolder;
  color: #0f2257;
  border-radius: 12px;
  background-color: lightblue;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 15px grey;
}

.dropzone:hover{
  opacity: .85;
  transform: scale(1.05);
}

.dropzone:active{
  transform: scale(.95) translateY(2px);
}

.preview-section {
  flex: 1;
  position: relative;
  display: flex;
  min-height: 500px;
  min-width: 700px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.25rem;
  font-weight: bolder;
  color: #0f2257;
  border-radius: 12px;
  background-color: lightblue;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 15px grey;
  padding: 20px 10px 10px;
}

.preview-image{
  display: block;
  width: auto;
  height: auto;
  max-height: 400px;
  max-width: min(100%, 600px);
  border-radius: 12px;
}

.url-catcher-container {
  flex: 1;
  display: flex;
  min-height: 200px;
  min-width: 500px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.25rem;
  font-weight: bolder;
  color: #0f2257;
  border-radius: 12px;
  background-color: lightblue;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 15px grey;
}

.url-catcher-container:focus-within {
    box-shadow:
      0 0 0 6px #0f2257,
      0 10px 15px grey;
}

.url-catcher {
  width: 400px;
  height: 36px;
  padding: 6px 12px;
  border: 4px solid #0f2257;  
  border-radius: 12px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 1rem;
}

.url-catcher:focus-visible {
    outline: 3px solid #5b7ace;
}
.upload-panel-text{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  margin: 0 1px 1px 0;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #0f2257;
  font-weight: bolder;
}

.url-submitter{
  font-family: 'Courier New', Courier, monospace;
  margin: 1rem;
  padding: 8px 14px;       
  font-size: 1rem;
  border-radius: 6px;
  font-weight: bolder;
  color: white;
  background-color: navy;
  border-color: black;
}

.url-submitter:hover{
  opacity: .85;
  transform: scale(1.05);
}

.url-submitter:active{
  transform: scale(.95) translateY(2px);
}

.url-submitter:disabled{
  cursor: not-allowed;
  opacity: 0.6;
}

.thumbnail-section{
  display: flex;
  flex: 0 0 auto;
  max-height: 300px;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 10px;
  width: min(100%, 600px);
  padding: 10px;
  margin-top: 15px;
  border-radius: 12px;
  background-color: lightblue;
  justify-content: flex-start;
  align-items: center;
}

.thumbnail-image{
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 0;
}

.thumbnail-button{
  flex: 0 0 auto;
  padding: 0;
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  background: none;
  cursor: pointer;
  border: 6px solid transparent;
  border-radius: 12px;
  overflow: hidden;
}

.result-ai {
  background-color: red;
  color: black;
  border-radius: 12px;
  padding-left: .5rem;
  padding-right: .5rem;
}

.result-real {
  background-color: green;
  color:white;
  border-radius: 12px;
  padding-left: .5rem;
  padding-right: .5rem;
}

.preview-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-button {
  color:#0f2257;
  font-family: 'Courier New', Courier, monospace;
  font-size: 5rem;
  border: 2px solid transparent;
  background: transparent;
  font-weight: bolder;
}

.preview-button:hover {
  color: #0843e4;
  transform: scale(1.15);
} 

.preview-button:active {
   color: #071131;
  transform: scale(.95);
} 
.selected-thumbnail{
  border-color: #0f2257;
  transform: scale(1.05);
  object-fit: contain;
  border-radius: 12px;
}

.thumbnail-section::-webkit-scrollbar {
    height: 13px;
}

.thumbnail-section::-webkit-scrollbar-track {
    background: lightgray;
}

.thumbnail-section::-webkit-scrollbar-thumb {
    background: #0f2257;
    border-radius: 15px;
}

.thumbnail-section::-webkit-scrollbar-thumb:active {
    background-color: #071333;
}

.loading-text{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 0 0 1px 0;
  color: #0f2257;
  animation: fade 3.0s ease-in-out infinite;
}

@keyframes fade {
  0%, 100%{
    opacity: 1
  }
  50% {
    opacity: .15;
  }
}

.delete-individual-button{
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 1rem;
  padding: 8px 14px;       
  font-size: 1.5rem;
  border-radius: 16px;
  font-weight: bolder;
  color: black;
  background-color: lightcoral;
  border-color: black;
}

.delete-individual-button:hover{
  opacity: .90;
  transform: scale(1.05); 
}

.delete-individual-button:active{
  transform: scale(.95) translateY(2px);
}

.analysis {
  gap: 12rem;
}

.gauge-labels{
  font-family: 'Courier New', Courier, monospace;
  justify-content: space-between; 
  display: flex;
  width: 210px;
}

.gauge-label{
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
}
